/*========================
         COLORS
==========================*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  margin: 0;
  padding: 0;
  background: #1c2431;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

.container {
  padding: 3rem 10%;
}

.inputEmail,
.getStartedButton {
  border-radius: 28px;
  padding: 12px 74px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.inputEmail {
  border: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1500 - 320)));
  outline: none;
}

.getStartedButton {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #65e2d9), to(#339ecc));
  background: linear-gradient(to bottom, #65e2d9 5%, #339ecc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$cyan, endColorstr=$blue, GradientType=0);
  background-color: #65e2d9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
}

.getStartedButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #339ecc), to(#65e2d9));
  background: linear-gradient(to bottom, #339ecc 5%, #65e2d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$blue, endColorstr=$cyan, GradientType=0);
  color: white;
}

.getStartedButton:active {
  position: relative;
  top: 1px;
}

/*================================================================================
                                    Header
==================================================================================*/
/*========================
        Section Navigation
==========================*/
#navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navLogo,
.navMenu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navMenu-itemsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  white-space: nowrap;
}

.navMenu-item {
  padding: 0 6px;
  font-size: calc(12.8px + (18 - 12.8) * ((100vw - 320px) / (1500 - 320)));
  color: white;
}

/*================================================================================
                                    Main
==================================================================================*/
.mainFirst,
.mainSecond,
.mainThird,
.mainFourth {
  background-color: #181f2a;
}

.mainFirst {
  background: url(/images/bg-curvy-mobile.svg) no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
  background-color: #1b2330;
}

.mainFirstInfo--p {
  font-size: .9rem;
  padding: 1rem 0;
}

.mainFirstPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
}

.illustration-intro,
.illustration-stay-productive {
  width: 100%;
}

.mainFirstInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contentImg2x {
  margin: 0 auto;
  padding-bottom: 15%;
  text-align: center;
}

.contentStayProductive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contentStayProductiveInfo--h2 {
  font-size: 1rem;
}

.fyloWorks-a {
  padding-bottom: 10px;
  border-bottom: 1px solid #62e0d9;
  color: #62e0d9;
}

.iconArrow {
  position: relative;
  top: 5.5px;
  width: 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

.cards {
  background: url(/images/bg-quotes.png) no-repeat;
  background-position: top left 0.1rem;
  padding: 2rem 0 0rem 0;
}

.card {
  background-color: #202a3c;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1500 - 320)));
  margin-bottom: 2rem;
}

.card-p {
  line-height: 1.8;
}

.card-profile {
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-profile {
  border-radius: 50%;
  height: calc(24px + (26 -24) * ((100vw - 320px) / (1500 - 320)));
}

.card-profile-name {
  padding-left: .5rem;
  font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1500 - 320)));
}

.card-profile-name--h3,
.card-profile-name--p {
  margin: 0;
}

/*================================================================================
                                    Main Fifth
==================================================================================*/
.mainFifth {
  margin-top: 5rem;
  margin-bottom: -13rem;
}

.earlyAccess {
  background: #202a3c;
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1500 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.earlyAccessForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.inputEmail {
  padding-left: 2rem;
  margin: 5% 0;
}

.inputEmail::-webkit-input-placeholder {
  color: grey;
  opacity: 0.5;
}

.inputEmail:-ms-input-placeholder {
  color: grey;
  opacity: 0.5;
}

.inputEmail::-ms-input-placeholder {
  color: grey;
  opacity: 0.5;
}

.inputEmail::placeholder {
  color: grey;
  opacity: 0.5;
}

.getStartedForFree {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1500 - 320)));
  font-weight: 700;
}

/*================================================================================
                                    Footer
==================================================================================*/
.footer {
  background: #0b1523;
  padding-top: 14rem;
}

.footerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.footerLogo {
  padding-bottom: 2rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.location-p {
  margin: 0;
}

.phoneIcon::before {
  content: url(/images/icon-phone.svg);
}

.emailIcon::before {
  content: url(/images/icon-email.svg);
}

.locationIcon {
  padding-right: 18px;
}

.phoneEmailItem,
.location {
  padding: 1rem 0;
}

.phoneIcon::before,
.emailIcon::before {
  padding-right: 10px;
}

.locationIcon,
.phoneIcon::before,
.emailIcon::before {
  position: relative;
  top: 2px;
}

.quickContactItemsList {
  padding: 1rem 0;
}

.quickContactItem {
  padding: .5rem 0;
}

.socialItemsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialItem {
  padding: 0 1rem;
}

.socialItem .fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: white;
}

/*==========================================================================================================================
                                                    MEDIA QUERIES
============================================================================================================================*/
@media only screen and (max-width: 600px) {
  .logo {
    max-width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
    max-width: 80%;
  }
  .illustration-intro {
    width: 100%;
    max-width: 700px;
  }
  .mainFirst {
    background-size: 100% 70%;
  }
  .getStartedButton {
    margin: 0 auto;
    width: 35%;
  }
  .mainFirstInfo--h1,
  .mainFirstInfo--p {
    margin: 0 auto;
  }
  .mainFirstInfo--h1 {
    font-size: 1.5rem;
    width: 80%;
  }
  .mainFirstInfo--p {
    font-size: 1rem;
    width: 80%;
    padding: 2rem 0;
  }
  .contentImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding-bottom: 15%;
  }
  .contentImg2x {
    margin: 0 auto;
    padding-bottom: 0%;
    padding: 0 1rem;
  }
  .contentMainImg {
    height: 50%;
  }
  .contentStayProductive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .contentStayProductiveImage {
    padding: 0 2rem;
  }
  .contentStayProductiveInfo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cards {
    max-width: 60%;
  }
  .earlyAccessForm {
    width: 70%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    max-width: 100%;
  }
  .navMenu-item {
    padding: 0 1rem;
  }
  .illustration-intro {
    width: 50%;
  }
  .mainFirst {
    background: url(/images/bg-curvy-desktop.svg) no-repeat;
    background-size: 100% 80%;
    background-position: center bottom;
  }
  .mainFirstInfo--h1 {
    font-size: 2rem;
    width: 50%;
  }
  .mainFirstInfo--p {
    font-size: 1rem;
    width: 40%;
    padding: 2rem 0;
  }
  .contentImg2xText--h2,
  .contentStayProductiveInfo--h2 {
    font-size: 1.5rem;
  }
  .contentImg2xText--p,
  .contentStayProductiveInfo--p {
    font-size: 1rem;
  }
  .contentImg2xText--p {
    width: 70%;
    margin: 0 auto;
  }
  .contentStayProductiveInfo--p {
    width: 80%;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    background-position: top left 0.5rem;
  }
  .card {
    margin: 0 0.5rem;
  }
  .card-profile-name--h3 {
    padding-bottom: 5%;
  }
  .earlyAccess {
    width: 55%;
    margin: 0 auto;
  }
  .mainFifth {
    margin-bottom: -14rem;
  }
  .earlyAccessForm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .inputEmail {
    width: 100%;
    margin-right: 5%;
  }
  .getStartedForFree {
    margin: 5% 0;
    padding: 12px 24px;
    white-space: nowrap;
  }
  .footerContact,
  .quickContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .footerContact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .quickContactFirstPart {
    padding-right: 4rem;
  }
  .location {
    width: 30%;
  }
  .quickContactItemsList,
  .socialItemsList {
    padding: .5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */